<div class="container pt-5 mt-5">
  <mat-horizontal-stepper>
    <mat-step label="Personal Details">
      Content 1
      <button mat-raised-button color="primary" matStepperNext>Next</button>
    </mat-step>
    <mat-step label="Internship Preference">
      Content 2
      <button mat-stroked-button color="primary" matStepperPrevious>Back</button>

      <button mat-raised-button color="primary" matStepperNext>Next</button>

    </mat-step>
    <mat-step label="Education">
      Content 3
      <button mat-button matStepperPrevious>Back</button>
    </mat-step>
  </mat-horizontal-stepper>
</div>